# Dependencies
node_modules/
.pnpm-store/

# Frontend
frontend/dist/
frontend/.env
frontend/.env.*
!frontend/.env.example

# Backend
backend/target/
backend/.env
backend/.env.*
!backend/.env.example

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
